<nav>
 <div class="container">
  <ul class="nav nav-pills">

   <!-- Webpage Navbar Links -->
   <li>
     <a href="/about" title="About Me" id="about">About Me</a>
   </li>
   <li>
     <a href="/projects" title="Projects" id="projects">Projects</a>
   </li>
   <li>
     <a href="/contact" title="Contact"  id="contact">Contact</a>
   </li>

  </ul>
 </div>
</nav>
