<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <title>Jacob Patton</title>
  <link rel='stylesheet' href='/stylesheets/contact.css' />
  <link rel='stylesheet' href='/stylesheets/navbar.css' />
</head>
