<% include ./partials/headers/about_me %>

<body>
<html>
<% include ./partials/navbar %>

  <h1 id="name">Jacob Patton</h1>


  <h1 class="page-header"><strong>Skills</strong></h1>
  <div class="col-md-12 top-row">
    <div class="col-md-4 thumbnail"><img src="/images/ruby-rails.png" alt=""><div class="caption">Ruby on Rails</div></div>
    <div class="col-md-4 thumbnail"><img src="/images/mongodb.png" alt=""><div class="caption">MongoDB</div></div>
    <div class="col-md-4 thumbnail"><img src="/images/express.png" alt=""><div class="caption">Express.JS</div></div>
  </div>

  <div class="col-md-12">
    <div class="col-md-4 thumbnail"><img src="/images/angular.png" alt=""><div class="caption">Angular.JS</div></div>
    <div class="col-md-4 thumbnail"><img src="/images/node.png" alt=""><div class="caption">Node.JS</div></div>
    <div class="col-md-4 thumbnail"><img src="/images/jq.png" alt=""><div class="caption">jQuery</div></div>
  </div>
  <div class="col-md-12 last">
    <div class="col-md-4 thumbnail"><img src="/images/js.png" alt=""><div class="caption">Javascript</div></div>
    <div class="col-md-4 thumbnail"><img src="/images/html.png" alt=""><div class="caption">HTML5</div></div>
    <div class="col-md-4 thumbnail"><img src="/images/css.png" alt=""><div class="caption">CSS</div></div>
  </div>

  <h1 class="page-header">Non-technical skills</h1>
  <div class="col-md-12">
    <div class="non-tech">
      <li>Spanish: Advanced literacy and proficiency</li>
      <li>Microsoft Office: Word, Excel, Powerpoint</li>
      <li>Salesforce.com </li>
      <li>Email campaign management</li>
      <li class="last">A/B Testing</li>
    </div>
  </div>

  <h1 class="page-header">Work History</h1>
  <div class="col-md-12">
    <div class="media">
      <div class="media-left"></div>
        <div class="media-body">
          <h2 class="media-heading">LEAF College Savings | Sales & Marketing Associate | December 2014 - September 2015</h2>
          <br>
          <h4>Managed LEAF’s Facebook and Twitter pages</h4>
          <br>
          <h4>Helped author LEAF’s first white paper</h4>
        </div>
      </div>
  </div>


  <div class="col-md-12">
    <div class="media">
      <div class="media-left"></div>
        <div class="media-body">
          <h2 class="media-heading">JLL (Jones Lang LaSalle) | Intern | May 2013 - July 2015</h2>
          <br>
          <h4>Worked full-time in the Spanish and Catalan-speaking commercial real-estate firm JLL</h4>
          <br>
          <h4>Gathered information about potential available spaces and sites, rental rates, and utility and tax estimates</h4>
        </div>
    </div>
  </div>

<div class="col-md-12">
  <div class="media">
    <div class="media-left"></div>
      <div class="media-body">
        <h2 class="media-heading">Congressional Country Club | Outdoor Operations Assistant | Summers 2008-2012</h2>
        <br>
        <h4>Participated in event coordination and set-up</h4>
        <br>
        <h4>Ensured timely and accurate fulfillment of a wide variety of member needs</h4>
        <br>
        <h4 id="last">Performed driving range duties at three AT&T National tournaments</h4>
      </div>
    </div>
</div>

</html>
</body>
