<% include ./partials/headers/about_me %>

<body>
<html>
<div class="container">

<% include ./partials/navbar %>

  <h1 id="name">Jacob Patton</h1>


  <h1 class="page-header">Skills</h1>
  <div class="col-md-12 top-row">
    <div class="col-md-4"><img src="/images/ruby-rails.png" alt=""><p>Ruby on Rails</p></div>
    <div class="col-md-4"><img src="/images/mongodb.png" alt=""><p>Angular</p></div>
    <div class="col-md-4"><img src="/images/express.png" alt=""><p>JavaScript</p></div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4"><img src="/images/ruby-rails.png" alt=""><p>Ruby on Rails</p></div>
    <div class="col-md-4"><img src="/images/mongodb.png" alt=""><p>Angular</p></div>
    <div class="col-md-4"><img src="/images/express.png" alt=""><p>JavaScript</p></div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4"><img src="/images/ruby-rails.png" alt=""><p>Ruby on Rails</p></div>
    <div class="col-md-4"><img src="/images/mongodb.png" alt=""><p>Angular</p></div>
    <div class="col-md-4"><img src="/images/express.png" alt=""><p>JavaScript</p></div>
  </div>

</div>
</html>
</body>
