<% include ./partials/headers/contact %>

<body>
<html>

<div class="bg">
<div class="overlay">
<% include ./partials/navbar %>

  <h1 id="contact-me">Contact Me</h1>

  <div class="container-fluid col-md-6">
    <ul class="list-unstyled">
      <li><a href="https://www.instagram.com/jacobrpatton/"><img src="../images/social-media/instagram-2.png" class="social"></a><span>@jacobrpatton</span></li>
      <li><a href="https://github.com/jrpatton1991"><img src="../images/social-media/github.png" class="social"></a><span>@jrpatton1991</span></li>
      <li><a href="https://twitter.com/jrpatton1991"><img src="../images/social-media/twitter-2.png" class="social"></a><span>@jrpatton1991</span></li>
      <li><a href="https://www.linkedin.com/in/jacobpatton"><img src="../images/social-media/linkedin-2.png" class="social"></a><span> jacobpatton</span></li>
      <!-- <li><a href="https://www.linkedin.com/in/jacobpatton"><img src="../images/social-media/stack.png" class="social"></a><span> jacobpatton</span></li> -->
    <ul>
   </div>

   <div class="container-fluid col-md-6">

       <h3>Email: jrobertpatton@gmail.com</h3>
       

    </div>


</div>
</div>

</html>
</body>
