<% include ./partials/headers/projects %>

<body>
<html>

  <% include ./partials/navbar %>

  <div class="page-header">
    <div class= "jumbotron">
      <h1><strong>My Work</strong></h1>
    </div>
  </div>

  <div class="projects col-md-12">
    <h1 class="title"><strong> TechInvestor | Ruby on Rails | <a href=https://shrouded-garden-26883.herokuapp.com/>View Project</strong></a></h1>
    <h6>Allows users to login and invest in thirty of the hottest start-ups in the Austin metropolitan area</h6>
   </div>

   <div class="col-md-6">
    <div class="thumbnail">
      <img src="./images/assoc-val.png" alt="" class="rails">
      <div class="caption">
        <h4><strong>Associations</strong></h4>
         <p>Binding a user and company to an investment using the "belongs_to" Ruby convention. Additionally, validations have been added requiring the presence of a user id and company as well as ensuring they are in the form of numbers.  </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
     <div class="thumbnail">
       <img src="./images/assoc-val-2.png" alt="" class="rails">
       <div class="caption">
         <h4><strong>Associations</strong></h4>
          <p>As seen above, a many-to-many relationship exists between a company and investment and a company and a user. </p>
       </div>
     </div>
   </div>

   <div class="projects col-md-12">
      <h1 class="title"><strong>UploadIt! | MEAN Stack | <a href=https://murmuring-savannah-64602.herokuapp.com/>View Project</strong></a></h1>
      <h6>Allows users to upload a photo to the home page</h6>
   </div>

   <div class="col-md-12">
     <div class="col-md-6">
       <div class="thumbnail">
         <img src="./images/mean-ss-1.png" alt="" class="mean">
       </div>
     </div>

     <div class="col-md-6">
       <div class="thumbnail">
         <img src="./images/mean-ss-2.png" alt="" class="mean">
       </div>
     </div>
   </div>

   <div class="col-md-12">
     <div class="caption">
       <h4><strong>Directives</strong></h4>
       <p class="directive-descrip">The Angular 'ui-view' directive (line 23, left image) indicates we are running a SPA. In our app.js folder, the different states of the single-page app are declared and a view is rendered based on the state of the application. </p>
     </div>
   </div>

</body>
</html>
