.bg {
  background-image: url('../images/austin.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.bg .overlay {
  width: 100%;
  height: 100%;
  background-color: #002C54;
  opacity: 0.8;
}
