@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);

body{
  font-family: "Raleway";
}

.my-work{
  margin-left: 40px;
  color: #104E8B;
  text-align: center;
  font-family: "Mr Dafoe";
  font-size: 100px;
  padding: 30px 0px 30px 0px;
}

.projects{
  margin-left: 20px;
}.title{
  padding-bottom: 20px;
  padding-top: 20px;
  color:  #104E8B;
  font-size: 35px;
}a{
 color:  #104E8B;
 margin: 0px;
}a:hover{
 text-decoration: none;
 color:  #999999;
}h6{
 font-size: 20px;
 color: #999999;
 padding-bottom: 15px;
}h4{
 font-size: 20px;
 color: #104E8B;
}p{
 font-size: 20px;
 color: #999999;
}.directive-descrip{
 padding: 0px 100px 20px 100px;
}

.caption{
  text-align: center;
  font-size: 20px;
}
